.section__controls{
margin-left: 20px;
  width: 200px;
  height: 100vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tab:nth-child(1){
/* margin-top: 15px;
 */}
.tab{
  min-width: 160px;
  max-width: 160px;
display: flex;
align-items: center;
gap: 16px;
padding: 8px 10px;
background-color: #2A2A2A;
border-radius: 14px;
background: none 0% 0% / auto repeat scroll padding-box border-box rgb(15, 16, 17);

}
.tab:hover{
  cursor: pointer;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgb(15, 16, 17);
}
.tab__icon{
  width: 30px;
  height: 30px;
}
.tab__name{
  font-size: 14px;
}
.modal-create {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000057;
}
.modal-create.show{
  display: flex;
}
.modal-block {
  position: absolute;
  background-color: #2A2A2A;
  width: 250px;
  height: 300px;
  border-radius: 20px;
}
.modal-head {
  text-align: center;
}
.modal-title {
  padding: 15px 0px;
  border-bottom: 2px solid #3d3c3c;

}
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

}
.close-modal {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  cursor: pointer;
}
.close-modal-avatar, .close-modal-create {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  cursor: pointer;
  z-index: 20;
}

.button-wrapper {
  position: relative;
  width: 150px;
  text-align: center;
  margin: 20% auto;
}

.button-wrapper span.label {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  background: #00bfff;
  cursor: pointer;
  color: #fff;
  padding: 10px 0;
  text-transform:uppercase;
  font-size:12px;
  align-items: center;
  background-color: rgb(36, 39, 46);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 4px -1px, rgba(0, 0, 0, 0.118) 0px 1px 1px 0px;
  color: rgb(227, 229, 232);
  display: flex;
  flex-shrink: 0;
  font-size: 13px;
  font-weight: 500;
  height: 32px;
  justify-content: flex-start;
  line-height: normal;
  min-width: 32px;
  padding: 0px 14px;
  position: relative;
  white-space: nowrap;
  transition-duration: 0.15s;
  transition-property: border, background-color, color, opacity;
  user-select: none;
  vertical-align: top;
  box-sizing: border-box;
  touch-action: pan-x pan-y;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: default;
  visibility: visible;
  overflow: visible;
  scrollbar-color: rgb(90, 91, 93) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  text-size-adjust: 100%;
  border: 0.8px solid rgb(51, 53, 60);
  gap: 5px;


}

#avatar-file, #input-file {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}





/* MEDIA */



@media (max-width: 756.98px){
  .section__controls{
    position: fixed;
    bottom: 0;
    display: flex;
    width: 97%;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(15, 16, 17);    align-content: center;
    justify-content: space-around;
    padding: 2px 5px;
    flex-direction: row;
    margin: 0;
    padding: 0px 5px;
  }
  .tab__name{
    display: none;
  }
}