    <div class="tab tab-home" id="tab-home">
        <img src="../assets/icons/home.png" alt="" class="tab__icon" id="img-home">
        <p class="tab__name">Home</p>
    </div>
    <div class="tab tab-notifications" id="tab-notifications">
        <img src="../assets/icons/like.png" alt="" class="tab__icon"  id="img-notifications">
        <p class="tab__name">Notifications</p>
    </div>
    <div class="tab tab-messages" id="tab-messages">
        <img src="../assets/icons/messages.png" alt="" class="tab__icon" id="img-messages">
        <p class="tab__name">Messages</p>
    </div>
    <div class="tab tab-music" id="tab-music">
        <img src="../assets/icons/music.png" alt="" class="tab__icon" id="img-music">
        <p class="tab__name">Music</p>
    </div>
    <div class="tab tab-create" id="tab-create">
        <img src="../assets/icons/add.png" alt="" class="tab__icon" id="img-create">
        <p class="tab__name">Create</p>
    </div>
    <div class="tab tab-settings" id="tab-settings">
        <img src="../assets/icons/settings.png" alt="" class="tab__icon" id="img-settings">
        <p class="tab__name">Settings</p>
    </div>
