



.account {
    border-radius: 50px;
    height: 40px;
    width: 40px;
}
.account-img{
    border-radius: 50px;
    height: 100%;
    width: 100%;
    cursor: pointer;
}






.header {
    position: relative;
    height: 55px;
    display: flex;
    background-color: #2A2A2A;
    padding: 2px 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;

      box-sizing: border-box;
      font-family: Linear, "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
/*       margin: 0px 235.6px;
 */      padding: 0px 12px;
      
      backdrop-filter: blur(24px) saturate(1.4);
      background: none 0% 0% / auto repeat scroll padding-box border-box rgba(10, 10, 10, 0.2);
      border-radius: 16px;
      box-shadow: rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;
      height: 48px;
      inset-inline: 0px;
      isolation: isolate;
/*       margin-inline: 235.6px;
 */      max-width: 1500px;
 margin: 0px auto;
      position: absolute;
      top: 16px;
      transform: matrix(1, 0, 0, 1, 0, 0);
      width: 90%;
      z-index: 100;
      color: rgb(255, 255, 255);
      text-size-adjust: 100%;


    


}
.header__logo {
    color: #ffffff;
    font-size: 24px;
    height: 40px;
    width:  40px;

}
.search-block{
    position: relative;
    z-index: 5;
}
.search__box {
    display: flex;
    flex-direction: row;
    padding: 5px;
    box-sizing: border-box;
    align-items: center;
    gap: 15px;
    width: 500px;
    height: 40px;
    border-radius: 10px;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(15, 16, 17); 
}
.search-input{
    background: transparent;
    font-size: 24px;
    border: 0;
    width: 80%;
    height: 100%;
}
.search-input:focus  .search-block{
    border: 1px solid #ffffff!important;
}

.search-icon{
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.search-result{
    display: none;
    position: absolute;
    min-height: 100px;
    width: 100%;
    top: 30px;
    left: 0;
    background-color: #242424;
    z-index: -1;
    border-radius: 20px;
    box-shadow: 0px 18px 20px #212121;
    padding-top: 50px;
    padding: 30px 0px;
    box-sizing: border-box;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(24, 30, 37);
}
.search-result.active{
display: flex;
gap: 5px;
flex-direction: column;
}

.result-box{
    display: flex;
    align-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px 20px;
    cursor: pointer;
}
.result-box:hover{
    background-color: #252528;
}

.result-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.result-username{
    font-size: 14px;
}

.background-blur{
    top: 0;
    left: 0;
    position: fixed;
    background-color: #00000043;
    backdrop-filter: blur(20px);
    display: none;
    width: 100%;
    height: 100vh;
    z-index: 4;
}

.background-blur.active{
    display: block;
}


.header__menu {
    position: fixed;
    top: 50px;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    display: none;

}

.header__menu.active{
    display: block;

}
.header__menu-logout {
    margin-top: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 8px 10px;
    background-color: #2A2A2A;
    border-radius: 14px;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgba(10, 10, 10, 0.5);
    width: 100px;
    text-align: center;
    justify-content: center;
}
.header__menu-myprofile {
    margin-top: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 8px 10px;
    background-color: #2A2A2A;
    border-radius: 14px;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgba(10, 10, 10, 0.5);
    width: 100px;
    text-align: center;
    justify-content: center;
}










.category-btn {

  box-sizing: border-box;
  scrollbar-width: none;
  appearance: none;
  font-family: "SF Pro Display Medium";
  font-size: 15.0586px;
  outline: rgba(112, 111, 124, 0.7) none 0px;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgba(170, 170, 170, 0);
  border-radius: 6px;
  color: rgba(112, 111, 124, 0.7);
  cursor: pointer;
  padding-block: 3px;
  padding-inline: 10px;
  user-select: none;
  padding: 3px 10px;
  transition: background-color 0.5s ease 0s;
  visibility: visible;
  letter-spacing: normal;



}
.category-btn.active {

  box-sizing: border-box;
  scrollbar-width: none;
  appearance: none;
  font-family: "SF Pro Display Medium";
  font-size: 15.0586px;
  outline: rgb(14, 14, 16) none 0px;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgba(195, 191, 209, 0.3);
  border-radius: 6px;
  color: rgb(14, 14, 16);
  cursor: pointer;
  padding-block: 3px;
  padding-inline: 10px;
  user-select: none;
  padding: 3px 10px;
  transition: background-color 0.5s ease 0s;
  visibility: visible;
  letter-spacing: normal;



}










/* MEDIA *** */





@media (max-width: 950.98px){
    .search__box{
        width: 350px;
    }
    
  }
@media (max-width: 600.98px){
    .search__box{
        width: 220px;
        height: 30px;
    }
    .search-icon{
        width: 25px;
        height: 25px;
    }
   
  }
@media (max-width: 420.98px){
   .header__logo{
    display: none;
   }
  }