
main{
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

/* .modal-create {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000057;
}
.modal-create.show{
    display: flex;
}
.modal-block {
    position: absolute;
    background-color: #2A2A2A;
    width: 250px;
    height: 300px;
    border-radius: 20px;
}
.modal-head {
    text-align: center;
}
.modal-title {
    padding: 15px 0px;
    border-bottom: 2px solid #3d3c3c;

}
.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.close-modal {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    cursor: pointer;
}
.close-modal-avatar, .close-modal-create {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    cursor: pointer;
}

.button-wrapper {
    position: relative;
    width: 150px;
    text-align: center;
    margin: 20% auto;
  }
  
  .button-wrapper span.label {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 100%;
    background: #00bfff;
    cursor: pointer;
    color: #fff;
    padding: 10px 0;
    text-transform:uppercase;
    font-size:12px;
  }
  
  #avatar-file, #input-file {
      display: inline-block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 50px;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
  }

 */

/* SECTION ACCOUNT */


.section__account{
    width: calc(100% - 350px);
    padding: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    min-height: 100vh;
    background-color: #2A2A2A;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgba(10, 10, 10, 0.5);

}

.account__head {
}
.account-avatar {
    box-shadow: 2px 1px 20px #211f1f;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.account-avatar:hover{
    cursor: pointer;
}

.account-info {
}
.account-info-head {
}
.account-name {
    min-width: 100px;
}


.section__account {
}
.account__head {
    padding: 30px 100px;
    display: flex;
    gap: 50px;
}
.account-avatar {
}
.account-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.account-info-head {
    display: flex;
    align-items: center;
    gap: 20px;
}
.account-name {
}
.account-btn-follow {
    width: 120px;
    height: 32px;
    border-radius: 8px;
    background-color: #202fff;



  align-items: center;
  background-color: #202fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 4px -1px, rgba(0, 0, 0, 0.118) 0px 1px 1px 0px;
  color: rgb(254, 254, 255);
  display: flex;
  flex-shrink: 0;
  font-size: 13px;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  line-height: normal;
  min-width: 32px;
  padding: 0px 14px;
  position: relative;
  white-space: nowrap;
  transition-duration: 0.15s;
  transition-property: border, background-color, color, opacity;
  user-select: none;
  vertical-align: top;
  box-sizing: border-box;
  touch-action: pan-x pan-y;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: default;
  visibility: visible;
  overflow: visible;
  scrollbar-color: rgb(90, 91, 93) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  text-size-adjust: 100%;
  border: 0.8px solid #3d49f6;
cursor: pointer;

}
.account-btn-follow.followed {
    width: 120px;
    height: 32px;
    border-radius: 8px;
    background-color: #1d1d1d;

    
  align-items: center;
  background-color: #1d1d1d;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 4px -1px, rgba(0, 0, 0, 0.118) 0px 1px 1px 0px;
  color: rgb(254, 254, 255);
  display: flex;
  flex-shrink: 0;
  font-size: 13px;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  line-height: normal;
  min-width: 32px;
  padding: 0px 14px;
  position: relative;
  white-space: nowrap;
  transition-duration: 0.15s;
  transition-property: border, background-color, color, opacity;
  user-select: none;
  vertical-align: top;
  box-sizing: border-box;
  touch-action: pan-x pan-y;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: default;
  visibility: visible;
  overflow: visible;
  scrollbar-color: rgb(90, 91, 93) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  text-size-adjust: 100%;
  border: 0.8px solid #2d2d2d;
cursor: pointer;

}
.account-btn-message {
    width: 120px;
    height: 32px;
    border-radius: 8px;
    background-color: #202fff;

    
  align-items: center;
  background-color: #202fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 4px -1px, rgba(0, 0, 0, 0.118) 0px 1px 1px 0px;
  color: rgb(254, 254, 255);
  display: flex;
  flex-shrink: 0;
  font-size: 13px;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  line-height: normal;
  min-width: 32px;
  padding: 0px 14px;
  position: relative;
  white-space: nowrap;
  transition-duration: 0.15s;
  transition-property: border, background-color, color, opacity;
  user-select: none;
  vertical-align: top;
  box-sizing: border-box;
  touch-action: pan-x pan-y;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: default;
  visibility: visible;
  overflow: visible;
  scrollbar-color: rgb(90, 91, 93) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  text-size-adjust: 100%;
  border: 0.8px solid #3d49f6;
cursor: pointer;

}

.account-btn-edit {
    width: 120px;
    height: 32px;
    border-radius: 8px;
    background-color: #373737;
}


.account-info-stats {
    display: flex;
    gap: 30px;
}
.account-stats-posts {
}
.account-stats-followers {
}
.account-stats-following {
}
.account-description {
}
.account-posts {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
}
.post {
    border-radius: 20px;
    width: 349px;
    height: 349px;
    object-fit: cover;
    box-shadow: 0px 0px 10px 0px #313030;
}




/* *{
    outline: 2px solid #f0f;
} */






















@media (max-width: 1250px){
    .post{
        border-radius: 14px;
        width: 250px;
        height: 250px;
    
    }
}
@media (max-width: 1175px){
    .post{
        border-radius: 14px;
        width: 240px;
        height: 240px;
    
    }
}
@media (max-width: 1175px){
    .post{
        border-radius: 14px;
        width: 210px;
        height: 210px;
    
    }
}

@media (max-width: 1100.98px){
    .account-avatar{
        width: 100px;
        height: 100px;
    }
    .account-info{
        gap: 15px;
    }
    .section__account{
        padding: 25px;
    }
    .account-info-stats p{
        font-size: 11px;
    }
    .account-name{
        font-size: 12px;
        min-width: 60px!important;
    }
    .account-btn-edit {
        width: 100px;
        height: 24px;
        border-radius: 8px;
        background-color: #373737;
    }

}

@media (max-width: 975px){
    .post{
        border-radius: 14px;
        width: 175px;
        height: 175px;
    
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    .section__controls{
        width: 180px;
    }
}
@media (max-width: 900px){
    .post{
        border-radius: 14px;
        width: 175px;
        height: 175px;
    
    }
    .account-avatar{
        width: 90px;
        height: 90px;
    }

    .post{
        border-radius: 14px;
        width: 150px;
        height: 150px;
    }

    .account__head{
        padding: 30px 20px;
        gap: 25px;
}

.section__account{
    width: calc(100% - 250px);
}
}



@media (max-width: 768.98px){
    main {
        display: flex;
        gap: 25px;
        margin-top: 20px;
        justify-content: center;
    }
    .section__account{
        width: 90%;
    }
    .post{
        border-radius: 14px;
        width: 175px;
        height: 175px;
    }
    .account__head{
        justify-content: center;
    }
    .account-info-head button{
        width: 80px!important;
    }
}


@media (max-width: 500.98px){
    .post{
        width: 130px;
        height: 130px;
    }
    .account-avatar{
        width: 70px;
        height: 70px;
    }
}
@media (max-width: 400.98px){
    .account-info-head button{
        width: 50px!important;
        height: 25px!important;
        font-size: 7px!important;
    }
    .post{
        width: 100px!important;
        height: 100px!important;
        border-radius: 10px!important;
    }
    .account-avatar{
        width: 60px;
        height: 60px;
    }
    .account__head {
        gap: 10px;
    }
    .account-info-stats {
        display: flex;
        gap: 15px;
    }
    .section__account {
        padding: 20px;
    }
    .account-name {
        font-size: 12px;
        min-width: none;
    }
    .account-avatar-box:hover .account-avatar-icon {
        width: auto;
        height: 73%;
    }
    .account-description{
        display: none;
    }
}

