

.header {
    display: flex;
    background-color: #2A2A2A;
    padding: 5px 15px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    color: #ffffff;
    font-size: 24px;
}
.search-block{
    position: relative;
    z-index: 5;
}
.search__box {
    display: flex;
    flex-direction: row;
    padding: 5px;
    box-sizing: border-box;
    align-items: center;
    gap: 15px;
    width: 500px;
    height: 50px;
    border-radius: 20px;
    background-color: #3a3a3a;
 
}
.search-input{
    background: transparent;
    font-size: 24px;
    border: 0;
    width: 80%;
    height: 100%;
}
.search-input:focus  .search-block{
    border: 1px solid #ffffff!important;
}

.search-icon{
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.search-result{
    display: none;
    position: absolute;
    min-height: 100px;
    width: 100%;
    top: 30px;
    left: 0;
    background-color: #242424;
    z-index: -1;
    border-radius: 20px;
    box-shadow: 0px 18px 20px #212121;
    padding-top: 50px;
    padding: 30px 0px;
    box-sizing: border-box;
}
.search-result.active{
display: block;
}

.result-box{
    display: flex;
    align-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px 20px;
    cursor: pointer;
}
.result-box:hover{
    background-color: #211f1f;
}

.result-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
