

.header {
    display: flex;
    background-color: #2A2A2A;
    padding: 5px 15px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    color: #ffffff;
    font-size: 24px;
}
.search__box {
    width: 500px;
    height: 50px;
    border-radius: 20px;
    background-color: #3a3a3a;
}
.account {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    border: 1px solid #000;
}

main{
    display: flex;
    gap: 25px;
    margin-top: 20px;
    justify-content: space-between;
}
.section__controls{
  border-radius: 20px;
  margin-left: 20px;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #2A2A2A;
}

.tab:nth-child(1){
  margin-top: 15px;
}
.tab{
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 1px 10px;
}
.tab__icon{
    width: 40px;
    height: 40px;
}
.tab__name{
    font-size: 18px;
}

.content-block {
  border-radius: 10px;
  padding: 15px;
}
.user-block {
  display: flex;
  gap: 15px;
  align-items: center;
}
.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.user-name {
}
.content-img {
  margin-top: 20px;
  width: 400px;
  border-radius: 5px;

}
.content-controls {
}


.content-btn, .content-btn-img{
  width: 30px;
  height: 30px;
}






.section__followers{
  width: 300px;
}