.section__music {
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(15, 16, 17);
    border-radius: 20px;
}
.music__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 35px;
    justify-content: center;
}
.music__songPrew {
}
.music__songPrew:hover {
    scale: .95;
    transition: .3s;
}
.music__songPrew-img {

    box-sizing: border-box;
    scrollbar-width: none;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgba(195, 191, 209, 0.3);
    border-radius: 10px;
    height: 150px;
    width: 150px;
    cursor: pointer;
    color: rgba(144, 140, 152,);
    font-family: "SF Pro Display Medium";
    font-size: 14.72px;
    letter-spacing: 0.27968px;
    font-weight: 800;

  
}
.music__songPrew-title {

  box-sizing: border-box;
  scrollbar-width: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(97, 93, 106);
  font-family: "SF Pro Display Medium";
  font-size: 14.72px;
  letter-spacing: 0.27968px;
  text-overflow: ellipsis;
  max-width: 150px;


}
.music__songPrew-artist {
    max-width: 150px;
    text-overflow: ellipsis;
  box-sizing: border-box;
  scrollbar-width: none;
  color: rgba(144, 140, 152, 0.7);
  font-size: 13.248px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95.2px;
  white-space: nowrap;
  font-family: "SF Pro Display Medium";
  letter-spacing: 0.27968px;


}