:root{
    --range-cl: #5270FB;
    --size-player: 120px;
  }

  
  /* body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f0f0f0;
      margin: 0;
    } */
    
    .player {
      align-items: center;
      justify-content: space-between;
      display: flex;
      width: 100vw;
      position: fixed;
      bottom: 0px;
      left: 0;
      background: none 0% 0% / auto repeat scroll padding-box border-box rgb(15, 16, 17);
      backdrop-filter: blur(10px);    border-radius: 10px 10px 0px 0px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      
      padding: 12px 30px;
      text-align: center;
      box-sizing: border-box;
      z-index: 500;
    }
    
    .info {
      margin-bottom: 20px;
    }
    .controls{
      display: flex;
    justify-content: center;
    }
    .controls button {
      border: none;
      border-radius: 5px;
      color: white;
      padding: 8px;
      background-color: transparent;
    }
    
    .back10-img{
      transform: rotate(180deg);
    }
    .prev-track-img{
      transform: rotate(180deg);
    }
  
    .controls button:hover {
      cursor: pointer;
    }
    
    .progress {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    #progressBar {
      flex: 1;
      margin: 0 10px;
    }
    
    .img-track{
      border-radius: 10px;
      width: 75px;
      height: 75px;
    }
  
    .icon-player{
      width: 20px;
    }
  
    .track-info{
      display: flex;
    }
    .track-detalis{
      width: 125px;
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 5px;
    }
    #track-artist{
      max-width: 150px;
    text-overflow: ellipsis;
    box-sizing: border-box;
    scrollbar-width: none;
    color: rgba(144, 140, 152, 0.7);
    font-size: 13.248px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95.2px;
    white-space: nowrap;
    font-family: "SF Pro Display Medium";
    letter-spacing: 0.27968px;
    }
    #track-title{
      box-sizing: border-box;
      scrollbar-width: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: rgb(97, 93, 106);
      font-family: "SF Pro Display Medium";
      font-size: 14.72px;
      letter-spacing: 0.27968px;
      text-overflow: ellipsis;
      max-width: 150px;
    
    }
  
    input[type="range"] {
      /* removing default appearance */
      -webkit-appearance: none;
      appearance: none; 
      /* creating a custom design */
      width: 300px;
      cursor: pointer;
      outline: none;
      /*  slider progress trick  */
      overflow: hidden;
      border-radius: 16px;
    }
    
    /* Track: webkit browsers */
    input[type="range"]::-webkit-slider-runnable-track {
      height: 5px;
      background: #ccc;
      border-radius: 16px;
    }
    
    /* Track: Mozilla Firefox */
    input[type="range"]::-moz-range-track {
      height: 5px;
      background: #ccc;
      border-radius: 16px;
    }
    
    /* Thumb: webkit */
    input[type="range"]::-webkit-slider-thumb {
      /* removing default appearance */
      -webkit-appearance: none;
      appearance: none; 
      /* creating a custom design */
      height: 7px;
      width: 7px;
      background-color: #fff;
      border-radius: 50%;
      border: 2px solid var(--range-cl);
      /*  slider progress trick  */
      box-shadow: -407px 0 0 400px var(--range-cl);
    }
    
    
    /* Thumb: Firefox */
    input[type="range"]::-moz-range-thumb {
      height: 7px;
      width: 7px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid var(--range-cl);
      /*  slider progress trick  */
      box-shadow: -407px 0 0 400px var(--range-cl);
    }
  
  /*   *{
      outline: 2px solid #0056b3;
    } */
  
  
  
  
    .player-page{
      overflow: hidden;
      display: none;
      /* max-height: 100vh; */
      width: 100%;
      background: none 0% 0% / auto repeat scroll padding-box border-box rgb(35, 37, 39);      justify-content: center;
      justify-content: center;
      gap: 50px;
      padding-bottom: var(--size-player);
      box-sizing: border-box;
      bottom: 95px;
      padding: 0;
      height: calc(100vh - 95px);
    }
  
    .player-page.show{
      display: flex;
      position: fixed;
      z-index: 500;
    }
 

  


    .player-page-img {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

    }
    .player-page-track-img {
      width: 500px;
      height: 500px;
      border-radius: 30px;
    }
    .player-page-info {
      width: 100%;
    }
    .player-page-controls {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 10px;
      box-sizing: border-box;
    }
    .player-page-btn {
      margin-top: 10px;
    align-items: center;
    appearance: none;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(230, 230, 230);
    color: rgb(8, 9, 10);
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-family: Linear, "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-feature-settings: "cv01", "ss03";
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 15px;
    font-stretch: 100%;
    font-variant: normal;
    font-variation-settings: normal;
    font-weight: 510;
    justify-content: center;
    line-height: 40px;
    max-width: 100%;
    padding: 0px 16px;
    position: relative;
    white-space: nowrap;
    user-select: none;
    border-radius: 10px;
    gap: 6px;
    height: 40px;
    transition-property: border, background-color, color, box-shadow, opacity, filter, transform;
    box-shadow: rgba(0, 0, 0, 0.11) 0px -1px 1px 0px inset, rgba(0, 0, 0, 0) 0px 8px 2px 0px, rgba(0, 0, 0, 0.01) 0px 5px 2px 0px, rgba(0, 0, 0, 0.04) 0px 3px 2px 0px, rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.08) 0px 0px 1px 0px;
    box-sizing: border-box;
    vertical-align: baseline;
    text-decoration: none solid rgb(8, 9, 10);
    outline: rgb(8, 9, 10) none 0px;
    text-size-adjust: 100%;
    width: 300px;
    text-align: center;

    }
    .player-page-like {
    }
    .player-page-list {
    }

    .img-open-pp{
      width: 20px;
      height: 20px;
    }







  
    @media (max-width: 950.98px){
  
      .player-page-img{
        width: 300px;
        height: 300px;
        padding: 50px;
    }
    }
    @media (max-width: 1150.98px){
      .player-page-right{
        min-width: 400px;
        max-width: 100%;
      }
    
      .player-page-img{
        width: 300px;
        height: 300px;
        padding: 50px;
    }
  }
    @media (max-width: 850.98px){
      .player-page-right{
        min-width: 300px;
        max-width: 100%;
      }
    
    }
      .player-page-img{
        padding: 50px;
    }
/*     @media (max-width: 750.98px){
        .player{
        display: flex;
        flex-direction: column;
      }
      .player-page{
        display: none;
        flex-direction: column;
      }
      .player-page-img{
        padding: 20px;
        height: 200px;
        width: 200px;
    }
    .player-page-right{
      min-width: 200px;
      max-width: 100%;
    }
    } */
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    /* SEARCH FILE .CSS */
  
    .search-box{
      position: relative;
      display: flex;
      flex-direction: column;
      z-index: 5;
    }
  
    .result{
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      min-height: 35px;
    }
    .result:hover{
      cursor: pointer;
    }
  
    #resultsContainer{
      position: absolute;
      top: 15px;
      left: 0;
      background-color: #ccc;
      width: 100%;
      border-radius: 0px 0px 20px 20px;
      padding: 0px 10px;
      padding-top: 20px;
      box-sizing: border-box;
    }
    
  
  .search{
    z-index: 5;
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    background-color: violet;
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
  /*   width: 225px;
   */  }
    
    .search-input{
      outline: none;
      border: 0;
      width: 300px;
      display: flex;
      background-color: transparent;
    }
    .search-input.show{
        display: block;
    animation: search 1s linear;
    transition: 0.5s;
    }
    .search-input:focus{
        border: 0;
    }
    
    .search-input:focus, input:focus{
        outline: none;
    }
    
    
    .search-img{
        width: 16px;
        height: 16px;
    }
    
    .search-img:hover{
        cursor: pointer;
        
    }
    
    /* #search-input.show{
        display: flex;
    } */
    /* 
    @keyframes search {
        0% {
            width: 0px;
            display: none;
        }
        50% {
            width: 50px;
            display: flex;
        }
        100% {
            width: 100px;
            display: flex;
        }
    }
    
     */
  
  
  
     .help-group{
      display: flex;
      gap: 5px;
    align-items: center;    
    }
  
/*      @media (max-width: 750.98px){
      .help-group{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    align-items: center;    
      }
      main, .hero , .footer{
        display: none;
      }
      .player{
        height: 100%;
        align-content: center;
        justify-content: center;
      }
      .player.show{
        height: 250px;
      }
      .player-page-left{
        display: none;
        
      }
      .player-page-right{
        margin-top: 60px;
      }
      .header-new{
        width: 100%;
        position: fixed;
        z-index: 100;
        z-index: 501;
        gap: 5px;
        padding: 0px 20px;
        box-sizing: border-box;
      }
      .search-input{
        width: 180px;
      }
      .controls button {
        padding: 6px;
    }
    } */
    .pp-btn{
      color: red;
    }
  
    #select-genre option{
      color: red;
  
    }
    #select-genre {
      color: red;
  
    }
  
    
    
    
    .player-page-list{
      overflow-y: scroll;
      width: 100%;
      height: 500px;  
      
    }
    
    @media (max-width: 1110.98px){
        .player-page-list{
        height: 400px;
      }
      .player-queue-title, .player-queue-artist{
        font-size: 14px;
      }
      input[type="range"]{
        width: 200px;
      }
      .volume{
        width: 120px;
      }
    }
    @media (max-width: 800.98px){
    	input[type="range"]{
        width: 175px;
      }
      .volume{
        width: 100px;
      }
    }
    @media (max-width: 750.98px){
        .player-page-list{
        height: 200px;
      }
      .player-queue-title, .player-queue-artist{
        font-size: 12px;
      }
      .track-detalis{
        display: none;
      }
    }
    @media (max-width: 756.98px){
    	.player{
        bottom: 45px;
      }
      .volume{
        display: none!important;
      }
    }
    @media (max-width: 500.98px){
    	.img-track{
        display: none;
      }
    }
   
  
    .volume{
      display: flex;
      flex-direction: row;
      /* justify-content: space-between; */
      align-items: center;
      gap: 10px;
    
    }
    #volumeBar{
      width: 50%;
    }